# API Keys
.env

# Personal data
sessions/
personal/
data/chip_huyen_ch_1.pdf
sandbox.py

# Vector database
vector_store/
chroma_db/

# Logs
logs/

# Python
__pychache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/

# VS Code
.vscode/

# MacOS
.DS_Store

# Jupyter notebooks
.ipynb_checkpoints
.ipynb


